{% extends "base_app.html" %}

{% block title %}
Nova Receita
{% endblock %}

{% block scripts %}
<script src="/static/js/recipe.js" defer></script>
{% endblock %}

{% block content %}

<div class="dashboard-container">

    <div class="dashboard-card">

        <h1 class="welcome-title">
            Nova Receita
        </h1>

        <p class="welcome-subtitle">
            Cadastre uma nova receita.
        </p>

        <form action="/recipes" method="post">

            <div class="divider"></div>
            <div class="input-group">
                <h3 class="section-title">
                    Nome da Receita
                </h3>
                <input
                    type="text"
                    name="name"
                    required
                >
            </div>
            <div class="divider"></div>

            <div class="ingredient-row">
                <h3 class="section-title">
                    Ingredientes
                </h3>
                <div class="ingredient-search">
                    <div class="search-input-wrapper">
                        <input
                            type="text"
                            id="ingredient_search"
                            name="ingredient_search"
                            placeholder="Buscar ingrediente"
                        >
                        <button
                            type="button"
                            id="clear-search-btn"
                            onclick="clearIngredientSearch()"
                            class="clear-search-btn"
                        >
                            X
                        </button>
                    </div>
                    <button type="button" onclick="searchIngredient()">
                        Buscar
                    </button>
                </div>

                <div id="ingredient-results"></div>
                <div id="selected-ingredients">
                    <div id="ingredients-empty-state" class="empty-state">
                        Nenhum ingrediente adicionado ainda.
                        Pesquise um ingrediente para começar.
                    </div>
                </div>

            </div>

            <div class="divider"></div>

            <div class="input-group">
                <h3 class="section-title">
                    Modo de Preparo
                </h3>
                <textarea
                    name="instructions"
                    rows="8"
                ></textarea>
            </div>

            <div class="recipe-actions">

                <a href="/dashboard" class="btn-back">
                    Voltar
                </a>

                <button type="submit" class="btn-dashboard">
                    Salvar Receita
                </button>

            </div>

        </form>

    </div>

</div>

{% endblock %}
