{% extends "base_app.html" %}

{% block title %}
{{ recipe.name }}
{% endblock %}

{% block content %}

<div class="dashboard-container">

    <div class="dashboard-card">

        <h1 class="welcome-title">
            {{ recipe.name }}
        </h1>

        <p class="recipe-date">
            Criada em
            {{ recipe.created_at.strftime("%d/%m/%Y") }}
        </p>

        <div class="divider"></div>
        <h2 class="section-title">
            Ingredientes
        </h2>

        <div class="ingredients-list">
            {% for ri in recipe.recipe_ingredients %}
                <div class="ingredient-item-detail">
                    <strong>
                        {{ ri.quantity }} {{ ri.unit }}
                    </strong>
                    de
                    <span>
                        {{ ri.ingredient.name }}
                    </span>
                </div>
            {% endfor %}
        </div>

        <div class="divider"></div>

        <h2 class="section-title">
            Modo de Preparo
        </h2>

        <p>
            {{ recipe.instructions }}
        </p>

        <div class="divider"></div>

        <div class="recipe-actions">

            <a href="/dashboard" class="btn-back">
                Voltar
            </a>

            <form action="/recipes/{{ recipe.id }}/delete" method="post">
                <button class="btn-delete" type="submit" onclick="return confirm('Deseja realmente excluir esta receita?')">
                    Excluir Receita
                </button>
            </form>

        </div>

    </div>

</div>

{% endblock %}
