{% extends "base_app.html" %}

{% block title %}
{{ recipe.name }}
{% endblock %}

{% block content %}

<nav class="navbar">

    <div class="navbar-brand">
        🥗 PlanejaPrato
    </div>

    <div class="navbar-right">

        <a href="/dashboard" class="logout-link">
            Voltar
        </a>

    </div>

</nav>

<div class="dashboard-container">

    <div class="dashboard-card">

        <h1 class="welcome-title">
            {{ recipe.name }}
        </h1>

        <p class="recipe-date">
            Criada em
            {{ recipe.created_at.strftime("%d/%m/%Y") }}
        </p>

        <div class="divider"></div>

        <h2 class="section-title">
            Modo de Preparo
        </h2>

        <p>
            {{ recipe.instructions }}
        </p>

        <div class="divider"></div>

        <form
            action="/recipes/{{ recipe.id }}/delete"
            method="post"
        >

            <button
                type="submit"
                class="btn-delete"
                onclick="return confirm('Deseja realmente excluir esta receita?')"
            >
                Excluir Receita
            </button>

        </form>

    </div>

</div>

{% endblock %}
