{% extends "base_app.html" %}

{% block title %}
Lista de Compras
{% endblock %}

{% block scripts %}
<script src="/static/js/shopping_list.js" defer></script>
{% endblock %}

{% block content %}

<div class="dashboard-container">

    <div class="dashboard-card">

        <h1 class="welcome-title">
            🛒 Lista de Compras
        </h1>

        <p class="welcome-subtitle">
            Gerada automaticamente com base no seu cardápio semanal
        </p>

        <div class="recipe-actions">

            <a href="/meal-plans/{{ meal_plan.id }}" class="btn-back">
                Voltar ao Cardápio
            </a>

        </div>

    </div>

    <div class="dashboard-card">

        {% if shopping_list %}

            <div class="shopping-list">

                {% for item in shopping_list.shopping_list_items %}

                    <div class="shopping-item">

                        <div class="shopping-name">
                            ▪️ {{ item.ingredient.name }}
                        </div>

                        <div class="shopping-quantity">

                            <input class="shopping-quantity-input"
                                type="number"
                                step="0.01"
                                class="shopping-quantity-input"
                                data-item-id="{{ item.id }}"
                                value="{{ item.quantity }}"
                            >

                             <select
                                class="shopping-unit-input"
                                data-item-id="{{ item.id }}"
                            >

                                <option value="unidade" {% if item.unit == 'unidade' %}selected{% endif %}>
                                    unidade
                                </option>

                                <option value="g"
                                    {% if item.unit == "g" %}selected{% endif %}>
                                    g
                                </option>

                                <option value="kg"
                                    {% if item.unit == "kg" %}selected{% endif %}>
                                    kg
                                </option>

                                <option value="ml"
                                    {% if item.unit == "ml" %}selected{% endif %}>
                                    ml
                                </option>

                                <option value="l"
                                    {% if item.unit == "l" %}selected{% endif %}>
                                    l
                                </option>

                                <option value="pitada"
                                    {% if item.unit == "pitada" %}selected{% endif %}>
                                    pitada
                                </option>

                                <option value="colher de chá"
                                    {% if item.unit == "colher de chá" %}selected{% endif %}>
                                    colher de chá
                                </option>

                                <option value="colher de sopa"
                                    {% if item.unit == "colher de sopa" %}selected{% endif %}>
                                    colher de sopa
                                </option>

                                <option value="xícara"
                                    {% if item.unit == "xícara" %}selected{% endif %}>
                                    xícara
                                </option>

                            </select>

                                <input
                                    class="shopping-comment-input"
                                    type="text"
                                    placeholder="Comentário"
                                    value="{{ item.note or '' }}"
                                    data-item-id="{{ item.id }}"
                                >

                            <button type="button" class="delete-ingredient-btn">
                                🗑️
                            </button>


                        </div>


                    </div>

                {% endfor %}

            </div>

        {% else %}

            <div class="empty-state">
                Nenhum item encontrado na lista de compras.
            </div>

        {% endif %}

    </div>

</div>

{% endblock %}
