<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        PlanejaPrato
        {% endblock %}
    </title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<script src="/static/js/app.js" defer></script>

{% block scripts %}{% endblock %}

<body>

    <!-- NAVBAR GLOBAL -->
    <nav class="navbar">

        <a href="/dashboard" class="navbar-brand">
            🥗 PlanejaPrato
        </a>

        <div class="navbar-right">

            <span class="navbar-user">
                {{ user.name }}
            </span>

            <a href="/logout" class="logout-link">
                Sair
            </a>

        </div>

    </nav>

    {% if message %}
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            showToast("{{ message.text }}", "{{ message.type }}");
        });
    </script>
    {% endif %}

    <!-- CONTEÚDO DA PÁGINA -->
    <main class="page-content">
        {% block content %}
        {% endblock %}
    </main>

    <div id="toast-container"></div>
</body>
</html>
