<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            PlanejaPrato
        {% endblock %}
    </title>

    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>

    {% block content %}
    {% endblock %}

    <footer class="auth-footer">

        <p class="auth-footer-text">
            PlanejaPrato é um produto desenvolvido por
            <a href="https://dc-solutions.netlify.app/" target="_blank">
                DC Solution
            </a>
        </p>

        <a
            href="https://dc-solutions.netlify.app/"
            target="_blank"
            class="auth-footer-link"
        >
            dcsolution.com.br
        </a>

    </footer>

</body>

</html>
